<div class="modal-header">
  <h4 class="modal-title pull-left">Validity</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="block grid-table3" style="min-height: 200px">
    <table class="table table-bordered table-inverse table-time" style="margin:0" id="tableGrid_2">
      <thead>
      <tr style="color:white; background: #005c97;">
        <!-- <th width="30" height="{{headerRowHeight}}"></th> -->
        <th>User Id</th>
        <th width="{{header.width}}" height="{{headerRowHeight}}" *ngFor="let header of gridHeaders">{{header.name}}
        </th>
        <!--<th width="60" height="{{headerRowHeight}}">Action</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let grid of periodData?.details; let ind = index" >
        <!-- <td  width="30" height="{{bodyRowHeight}}">
            <div class="checkbox checkbox-primary" style="margin:0px; width:20px">
              <input type="checkbox">
              <label></label>
            </div>
          </td> -->
        <ng-container *ngIf="ind === 0">
          <td attr.rowspan="{{periodData?.details.length}}" width="120" style="vertical-align: middle">{{rowData.user_id}}</td>
        </ng-container>
        <td *ngFor="let h of gridHeaders" height="{{bodyRowHeight}}">
            <ng-container *ngIf="h.field !== 'user_charge_code_map_status'">
              <span>{{grid[h.field]}}</span>
            </ng-container>
          <ng-container *ngIf="h.field === 'user_charge_code_map_status'">
            <span class="swithc-btn v-align-m" tooltip="Active/Inactive" placement="top" container="body">
              <label class="switch switch-success">
                <input type="checkbox" [(ngModel)]="grid.isActive" [checked]="grid.isActive" (change)="isActiveDeactive(grid)">
                <span class="slider round"></span>
              </label>
            </span>
          </ng-container>
        </td>
        <!--<td width="80" height="{{bodyRowHeight}}">-->
          <!--<ng-container *ngIf="!grid.isDelete">-->
            <!--<button type="button" class="btn btn-default btn-padd m-l-10" (click)="deleteValidity(grid)">-->
              <!--<i class="fa fa-trash" aria-hidden="true"></i>-->
            <!--</button>-->
          <!--</ng-container>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
<app-modal-popup #modalPopup [msg]="modalMessage"></app-modal-popup>
<div [ngBusy]="busy"></div>
